header{
    padding: 15px;
}

body {
    text-align: center;
    background-color: #F7F7F7;
    color: #5a5864;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.descricao-inicial {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 160px;
    padding-bottom: 30px;
    
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 30px;
    border-top: 1px solid #758674;
    padding-top: 50px;
}
.tabela-estudei {
    padding: 0px 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: left;
}

.background-verde {
    background-color: #535E53;
    color: #F7F7F7;
}

table {
    text-align: center;
}